#u14370-5
{
	background-color: #FFFFFF;
	line-height: 36px;
	color: #01B0DE;
	font-size: 30px;
	font-weight: bold;
	position: relative;
}

#u14354
{
	background-color: transparent;
	position: relative;
}

#u14354:hover
{
	background-color: transparent;
}

#u14356-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	color: #7F7F7F;
	position: relative;
}

#u14354:hover #u14356-4 p
{
	color: #0B5CA4;
	visibility: inherit;
	font-weight: bold;
}

#menuu14345,#u14353,#u14346
{
	position: relative;
}

#u14347
{
	background-color: transparent;
	position: relative;
}

#u14347:hover
{
	background-color: transparent;
}

#u14350-6
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	color: #7F7F7F;
	position: relative;
}

#u14347:hover #u14350-6 p
{
	color: #0B5CA4;
	visibility: inherit;
	font-weight: bold;
}

#u14354.MuseMenuActive #u14356-4 p,#u14347.MuseMenuActive #u14350-6 p
{
	color: #0C5CA5;
	visibility: inherit;
	font-weight: normal;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

