#u14465-4
{
	background-color: #FFFFFF;
	line-height: 36px;
	color: #01B0DE;
	font-size: 30px;
	font-weight: bold;
	position: relative;
}

#u14461
{
	background-color: transparent;
	position: relative;
}

#u14461:hover
{
	background-color: transparent;
}

#u14464-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	color: #7F7F7F;
	position: relative;
}

#u14461:hover #u14464-4 p
{
	color: #0B5CA4;
	visibility: inherit;
	font-weight: bold;
}

#u14452
{
	background-color: transparent;
	position: relative;
}

#u14452:hover
{
	background-color: transparent;
}

#u14453-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	color: #7F7F7F;
	position: relative;
}

#u14452:hover #u14453-4 p
{
	color: #0B5CA4;
	visibility: inherit;
	font-weight: bold;
}

#u14423
{
	background-color: transparent;
	position: relative;
}

#u14423:hover
{
	background-color: transparent;
}

#u14425-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	color: #7F7F7F;
	position: relative;
}

#u14423:hover #u14425-4 p
{
	color: #0B5CA4;
	visibility: inherit;
	font-weight: bold;
}

#u14447
{
	background-color: transparent;
	position: relative;
}

#u14447:hover
{
	background-color: transparent;
}

#u14450-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	color: #7F7F7F;
	position: relative;
}

#u14447:hover #u14450-4 p
{
	color: #0B5CA4;
	visibility: inherit;
	font-weight: bold;
}

#menuu14419,#u14458,#u14451,#u14420,#u14444,#u14427
{
	position: relative;
}

#u14428
{
	background-color: transparent;
	position: relative;
}

#u14428:hover
{
	background-color: transparent;
}

#u14429-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	color: #7F7F7F;
	position: relative;
}

#u14428:hover #u14429-4 p
{
	color: #0B5CA4;
	visibility: inherit;
	font-weight: bold;
}

#u14461.MuseMenuActive #u14464-4 p,#u14452.MuseMenuActive #u14453-4 p,#u14423.MuseMenuActive #u14425-4 p,#u14447.MuseMenuActive #u14450-4 p,#u14428.MuseMenuActive #u14429-4 p
{
	color: #0C5CA5;
	visibility: inherit;
	font-weight: normal;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

