#u14478-4
{
	background-color: #FFFFFF;
	line-height: 36px;
	color: #01B0DE;
	font-size: 30px;
	font-weight: bold;
	position: relative;
}

#u14481
{
	background-color: transparent;
	position: relative;
}

#u14481:hover
{
	background-color: transparent;
}

#u14483-6
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	color: #7F7F7F;
	position: relative;
}

#u14481:hover #u14483-6 p
{
	color: #0B5CA4;
	visibility: inherit;
	font-weight: bold;
}

#menuu14479,#u14480,#u14497
{
	position: relative;
}

#u14500
{
	background-color: transparent;
	position: relative;
}

#u14500:hover
{
	background-color: transparent;
}

#u14503-6
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	color: #7F7F7F;
	position: relative;
}

#u14500:hover #u14503-6 p
{
	color: #0B5CA4;
	visibility: inherit;
	font-weight: bold;
}

#u14481.MuseMenuActive #u14483-6 p,#u14500.MuseMenuActive #u14503-6 p
{
	color: #0C5CA5;
	visibility: inherit;
	font-weight: normal;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

